
  font-family: "Playfair Display", serif;
  line-height: 0.2em;
}
h1.large {
  font-size: 80px;
  letter-spacing: 2px;
}
h1.large:first-child {
  margin-bottom: 1em;
}
h1.large .tiny {
  font-size: 40px;
  vertical-align: top;
}
h1.medium {
  font-size: 50px;
}
h1.small {
  font-size: 26px;
  text-align: right;
}

h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 2em;
}

p {
  font-size: 13px;
  line-height: 1.4em;
  text-align: justify;
}

.spread {
  display: grid;
  grid-template-columns: minmax(50%, 1.2fr);
  width: 100%;
  box-shadow: 0 5px 15px rgba(128, 128, 128, 0.5);
  margin: 1em auto;
}
.spread__left {
  background: white;
  padding: 0 3em 0;
}
.spread__right {
  
  background: white;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.title {
  text-align: center;
  max-width: 200px;
  margin: 0 auto 4em;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 2vw;
}

.spread__page-bottom {
  margin-top: 4em;
  position: relative;
}
.spread__page-bottom:after {
  content: "";
  border-top: 1px solid black;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.spread__page-bottom .fa-bicycle {
  position: absolute;
  bottom: 83%;
  right: 0;
}
.spread__page-bottom .num {
  padding: 1em;
  background: black;
  text-align: center;
  color: white;
  width: 4em;
  margin: 0 auto;
}