<style>

.pencariann {
 background-image: url("style/img/ikon/cari.png");
}


.pencarian input[type="text"] {
    background: transparent;
    

    border: 3px solid #f40707;
    font: bold 15px Arial,Helvetica,Sans-serif;
    color: #ffffff;
    width: auto;
    padding: 11px 15px 10px 5px;
    margin-right: 19px; 
    margin-bottom: 50px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 0px 50px 50px 0px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    
    }

.pencarian input[type="text"]:focus {
   width: 17%;
   
    }

.button {
    background:url('style/img/ikon/cari.png');
    cursor:pointer;
    width: 34px;
    height: 34px;
    border: none;
    margin-right:-37px;
   text-color: #ffffff;
    padding: 11px;
    text-align:left;
    
}
.dum {
    background-image: url('style/img/ikon/cari.png');
    width: 30px;
    height: 30px;
}
@media (max-height: 350px) and (max-width: 667px){
    background: transparent;
    border: 3px solid #f40707;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #ffffff;
    width: 30%;
    padding: 11px 15px 10px 5px;
     }


@media (max-height: 600px){
    .pencarian input[type="text"] {
        background: transparent;
    border: 3px solid #f40707;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #ffffff;
    width: 15%;
    padding: 11px 15px 10px 5px;
    margin-right: 35px; 
    margin-bottom: 50px;
     }

@media (min-width: 601px) and (max-width: 991px) {
    .pencarian input[type="text"] {
       background: transparent;
    border: 3px solid #f40707;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #ffffff;
    width: 15%;
    padding: 11px 15px 10px 5px;
    margin-right: 35px; 
    margin-bottom: 50px;
     }

@media (min-width: 992px) and (max-width: 1199px){
    .pencarian input[type="text"] {
background: transparent;
    border: 3px solid #f40707;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #ffffff;
    width: 15%;
    padding: 11px 15px 10px 5px;
    margin-right: 35px; 
    margin-bottom: 50px;
     }

@media (min-width: 1200px) and (max-width: 1399px){
    .pencarian input[type="text"] {
  background: transparent;
    border: 3px solid #f40707;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #ffffff;
    width: 15%;
    padding: 11px 15px 10px 5px;
    margin-right: 35px; 
    margin-bottom: 50px;
     }

@media (min-width: 1400px) and (max-width: 1599px){
    .pencarian input[type="text"] {
         width: 15%;
     }

@media (min-width: 1600px) and (max-width: 1920px){
    .pencarian input[type="text"] {
      background: transparent;
    border: 3px solid #f40707;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #ffffff;
    width: 15%;
    padding: 11px 15px 10px 5px;
    margin-right: 35px; 
    margin-bottom: 50px;
     }

@media (min-width: 2000px) and (max-width: 2559px){
    .pencarian input[type="text"] {
        background: transparent;
    border: 3px solid #f40707;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #ffffff;
    width: 15%;
    padding: 11px 15px 10px 5px;
    margin-right: 35px; 
    margin-bottom: 50px;
     }

@media (min-width: 2560px){
    .pencarian input[type="text"] {
        background: transparent;
    border: 3px solid #f40707;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #ffffff;
    width: 15%;
    padding: 11px 15px 10px 5px;
    margin-right: 35px; 
    margin-bottom: 50px;
     }

}

</style>