@font-face {
   font-family: "Accius-T-OT-Light-Condensed";
   /*src: url('../img/landing_baru/Accius-T-OT-Light-Condensed_1765.ttf');*/
   src: url('../img/full_page/Accius-T-OT-Light-Condensed_1765.ttf') format('truetype'),
   	
   		url('../img/full_page/accius-t-ot-light-condensed_1765-webfont.woff') format('woff'),
   		url('../img/full_page/accius-t-ot-light-condensed_1765-webfont.woff2') format('woff2'),
   		url('../img/full_page/accius-t-ot-light-condensed_1765-webfont.eot') format('embedded-opentype'),
   		url('../img/full_page/accius-t-ot-light-condensed_1765-webfont.svg') format('svg');
   /*src: url('../img/full_page/Accius-T-OT-Light-Condensed_1765.ttf');
   src: url('../img/full_page/accius-t-ot-light-condensed_1765-webfont.eot') format('embedded-opentype');*/
}
/*background-image: url('./assets/bg.png');*/
/*html,body{
	font-family: Accius-T-OT-Light-Condensed;
	overflow: hidden;
	background-repeat: no-repeat;
	max-width:100%;
	max-height:100%;
	margin: 0px 0px 0px 0px;
	}*/
body {
	font-family: Accius-T-OT-Light-Condensed;
    /*background-image: url("<?php echo base_url('');?>style/img/haltim.png");
    /*    background-image:url("../img/landing_baru/bg.png");*/
    background: url(bg.jpg);
    
    background-repeat: no-repeat;
    background-size: 125% 125%;
    max-width: 100%;
    max-height: 125%;
    overflow: auto;
    margin: 0px 0px 0px 0px;
}
html {
    height: 125%
}
a{
	text-decoration: none;
	color: #000;
}
.logo{
	max-height: 30%;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	/*border: 1px solid black;*/
	margin: auto;
	}
.panel_menu{
	max-height: 50%;
	max-width: 100%;
	vertical-align: middle;
	text-align: center;
  	list-style: none;
  	margin-top: 2%;
  /*	margin-bottom: 1%;*/
  	/*border: 1px solid silver;*/
  	-ms-box-orient: horizontal;
 	display: -webkit-box;
 	display: -moz-box;
 	display: -ms-flexbox;
 	display: -moz-flex;
  	display: -webkit-flex;
  	display: flex;
  	justify-content:center;
  	-webkit-justify-content:center;
  	-moz-justify-content:center;
  	-ms-justify-content:center;
}
.menu{
	width:15%;
	letter-spacing: 2px;
	font-size: 2px;
	/*border: 1px solid gray;
	vertical-align: middle;
	text-align: center;*/
}
.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.font_wrap{
	clear:both;
	vertical-align: middle;
	text-align: center;
	/*color: #000;*/
	font-weight: bold;
}

.wrap_content{
	border-radius: 110px;
	width: 110px;
	height: 110px; 
	margin: auto;
	cursor:pointer;
}
.wrap_content:hover{
	/*background-color: #000;*/ 
	transition: linear background-color 0.5s;
}
.wrap_content_active{
	/*background-color: #000;*/
	border-radius: 110px;
	width: 110px;
	height: 110px; 
	margin: auto;
	cursor:pointer;
	display: none;
}
.homepage{
	width: 100%;
	max-height: 50px;
	margin-top: 2%;

}
.gotolink{
	vertical-align: middle;
	text-align: center;
	margin: auto;
	padding: auto;
	color: #F9F1F0;
	border: 5px solid #F9F1F0;
	border-radius: 5px;
	font-size: 20px;
	width: 10%;
	cursor: pointer;
}
.gelembung_informasi{
	margin-top: 0px;
	background-image: url('64994452421978.jpg');
	display: none;
	overflow: auto;
	clear: both;
	max-width: 100%;
	height: auto;
	padding: 4%;
	background-size: 100% 100%;	
	box-sizing: border-box;
}
.arrow-up {
	 width: 0; 
	 height: 0;   
	 border-bottom: 15px solid #063649;
	 border-left: 10px solid transparent;
	 border-right: 10px solid transparent;
	 margin: auto;
	 display: none;
}

.listing{
	margin-right: 2%;
	margin-left: 2%;
	width: 20%;
	float: left;
	max-height: 230px;
	padding: 5px;
	font-size: 22px;
	letter-spacing: 1px;
}
.listing a{
	margin-top: 35px;
	color: #fff;
}
@media (max-height: 350px){
	.logo img{
	 	height:90px !important;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		border-radius: 40px !important;
		width: 40px !important;
		height: 40px !important; 
	}
	.font-wrap{
		font-size: 8px !important;
	}
}
@media (max-width: 600px) {
	*{
		letter-spacing: 0px;
	}
	 .logo img{
	 	height:100px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		border-radius: 40px;
		width: 40px;
		height: 40px; 
	}
	.font-wrap{
		font-size: 8px;
	}
	.arrow-up{
		border-bottom: 5px solid #063649;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}
	.gelembung_informasi{
		height:150px;
	}
	.listing{
		width: 15%;
	}
	.listing a{
		font-size: 8px;
	}
	.gotolink{
		font-size: 8px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 601px) and (max-width: 991px)  { 
	
	 .logo img{
	 	height:125px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		border-radius: 50px;
		width: 50px;
		height: 50px; 
	}
	.font-wrap{
		font-size: 12px;
	}
	.arrow-up{
		border-bottom: 8px solid #063649;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
	.gelembung_informasi{
		max-height:175px;
	}
	.listing{
		width: 15%;
	}
	.listing a{
		font-size: 10px;
	}
	.gotolink{
		font-size: 12px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 992px) and (max-width: 1199px)  {
 	.logo img{
	 	height:175px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		border-radius: 75px;
		width: 75px;
		height: 75px; 
	}
	.font-wrap{
		font-size: 14px;
	}
	.arrow-up{
		border-bottom: 8px solid #063649;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
	.gelembung_informasi{
		height:175px;
	}
	.listing{
		width: 15%;
	}
	.listing a{
		font-size: 12px;
	}
	.gotolink{
		font-size: 16px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 1200px) and (max-width: 1399px)  {
	.logo img{
	 	height:200px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		border-radius: auto;
		width: auto;
		height: auto; 
	}
	.font-wrap{
		font-size: 18px;
	}
	.arrow-up{
		border-bottom: 10px solid #063649;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
	.gelembung_informasi{
		height:auto;
	}
	.listing{
		width: 15%;
	}
	.listing a{
		font-size: 16px;
	}
	.gotolink{
		font-size: 18px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 1400px) and (max-width: 1599px)  {
	.logo img{
	 	height:210px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		border-radius: auto;
		width: auto;
		height: auto; 
	}
	.font-wrap{
		font-size: 22px;
	}
	.arrow-up{
		border-bottom: 10px solid #063649;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
	.gelembung_informasi{
		height:250px;
	}
	.listing{
		width: 15%;
	}
	.listing a{
		font-size: 20px;
	}
	.gotolink{
		font-size: 22px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 1600px) and (max-width: 1920px)  {
	.logo img{
	 	height:245px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		border-radius: auto;
		width: auto;
		height: auto; 
	}
	.font-wrap{
		font-size: 24px;
	}
	.arrow-up{
		border-bottom: 15px solid #063649;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
	}
	.gelembung_informasi{
		height:auto;
	}
	.listing{
		width: 15%;
	}
	.listing a{
		font-size: 22px;
	}
	.gotolink{
		font-size: 24px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 2000px) and (max-width: 2559px)  { 
	.logo img{
	 	height:275px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		border-radius: auto;
		width: auto;
		height: auto; 
	}
	.font-wrap{
		font-size: 28px;
	}
	.arrow-up{
		border-bottom: 17px solid #063649;
		border-left: 17px solid transparent;
		border-right: 17px solid transparent;
	}
	.gelembung_informasi{
		height:275px;
	}
	.listing{
		width: 15%;
	}
	.listing a{
		font-size: 28px;
	}
	.gotolink{
		font-size: 28px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 2560px) { 
	.logo img{
	 	height:300px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		border-radius: auto;
		width: auto;
		height: auto; 
	}
	.font-wrap{
		font-size: 32px;
	}
	.arrow-up{
		border-bottom: 20px solid #063649;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
	}
	.gelembung_informasi{
		height:350px;
	}
	.listing{
		width: 15%;
	}
	.listing a{
		font-size: 32px;
	}
	.gotolink{
		font-size: 32px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
/*style1
-webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;  Chrome, Safari, Opera 
    transform: rotateY(360deg);
    transform-style: preserve-3d;
	transition: 2s;
style2
transition: linear background-color  1s;*/